.backgroundBlue {
  background: transparent
    linear-gradient(60deg, #0e1f35 0%, #082a4a 50%, #003f76 100%) 0% 0%
    no-repeat padding-box;
  padding: 40px;
  width: 1080px;
  box-sizing: border-box;
}

.backgroundWhite {
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.imageContainer {
  width: 100%;
  margin-top: -20px;
  overflow: hidden;
}

.imageContainer > img {
  border-radius: 0 0 20px 20px;
  width: 100%;
}

.userContainer {
  display: flex;
}

.userContainer > img {
  display: block;
  height: 48px;
  width: 48px;
}

.userPhoto {
  border-radius: 1000px;
}

.userNameContainer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  padding-top: 4px;
  line-height: 1;
}

.userName {
  font-family: "WDRSansVZ";
  font-weight: bold;
  color: #002f52;
  font-size: 22px;
}

.userScreenName {
  font-family: "WDRSansVZ";
  font-weight: 500;
  color: #008b9e;
  font-size: 18px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "WDRSlabVZ";
  font-weight: 500;
  color: #002f52;
  font-size: 48px;
  overflow-wrap: break-word;
}

.highlightText {
  color: #008b9e;
}

.timestamp {
  display: block;
  font-family: "WDRSansVZ";
  font-weight: 500;
  font-size: 18px;
  color: #008b9e;
  margin-bottom: -5px;
}

.timestampBelow {
  padding-top: 10px;
  padding-left: 20px;
}
