.backgroundBlue {
  position: relative;
  background: transparent
    linear-gradient(60deg, #0e1f35 0%, #082a4a 50%, #003f76 100%) 0% 0%
    no-repeat padding-box;
  padding: 40px;
  width: 1080px;
  box-sizing: border-box;
  overflow: hidden;
}

.overlay {
  background: transparent linear-gradient(#082c4eff 0%, #082c4e00 100%) 0% 0%
    no-repeat padding-box;
  position: absolute;
  top: -25px;
  right: 991px;
  width: 1000px;
  height: 1000px;
  transform: rotate(-15deg);
  transform-origin: top right;
  opacity: 0.08;
}

.overlayBorder {
  background: transparent linear-gradient(#707070ff 0%, #70707000 100%) 0% 0%
    no-repeat padding-box;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
}

.backgroundWhite {
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.imageContainer {
  width: 100%;
  margin-top: -20px;
  overflow: hidden;
}

.imageContainer > img {
  border-radius: 0 0 20px 20px;
  width: 100%;
}

.userContainer {
  display: flex;
}

.userContainer > img {
  display: block;
  height: 48px;
  width: 48px;
}

.userPhoto {
  border-radius: 1000px;
}

.userNameContainer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding-top: 4px;
  line-height: 1;
}

.userName {
  font-family: "WDRSansVZ";
  font-weight: bold;
  color: #002f52;
  font-size: 22px;
}

.userName :global(.emoji) {
  height: 22px;
  margin: -1px 2px 0 2px;
  transform: translateY(-1px);
}

.userName img {
  display: inline-block;
  vertical-align: sub;
  height: 21px;
  transform: translateY(-1px);
}

.userScreenName {
  font-family: "WDRSansVZ";
  font-weight: 500;
  color: #008b9e;
  font-size: 18px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "WDRSlabVZ";
  font-weight: 500;
  color: #002f52;
  font-size: 48px;
  overflow-wrap: break-word;
}

.text :global(.emoji) {
  height: 48px;
  margin: -7px 5px 0 5px;
  transform: translateY(7px);
}

.highlightText {
  color: #008b9e;
}

.timestamp {
  display: block;
  font-family: "WDRSansVZ";
  font-weight: 500;
  font-size: 18px;
  color: #008b9e;
  margin-bottom: -5px;
}

.timestampBelow {
  padding-top: 10px;
  padding-left: 20px;
}
